[Desktop Entry]
Version=0.5.4.1
Type=Application
Name=Termux AppStore
Comment=Browse and install Termux applications
Exec=appstore
Icon=org.gnome.Software
Terminal=false
Categories=System;PackageManager;
StartupWMClass=termux-appstore
X-GNOME-SingleWindow=true
